<!DOCTYPE html>
<head>
	<%- include('../partials/head') %>
</head>

<body>
	<header>
		<%- include('../partials/header') %> 
	</header>

	<main style="padding: 1rem">
		<h1>Hello world :)</h1>
	</main>

	<footer>
		<%- include('../partials/footer') %> 
	</footer>
</body>